@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 228 15% 50%;
  --foreground-light: 228 12% 75%;
  --heading: 228 57% 28%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 228 66% 53%;
  --primary-alt: 228 66% 47%;
  --primary-light: 228 66% 59%;
  --primary-lighten: 228 66% 97%;
  --primary-foreground: 210 40% 98%;

  --secondary: 25 83% 53%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --ff-poppins: "Poppins", sans-serif;

  --fz-2xs: 0.5rem;
  --fz-xs: 0.75rem;
  --fz-sm: 0.875rem;
  --fz-base: 0.938rem;
  --fz-md: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;
  --fz-2xl: 1.5rem;
  --fz-3xl: 1.875rem;
  --fz-4xl: 2.25rem;
  --fz-5xl: 3rem;
  --fz-6xl: 3.75rem;
  --fz-7xl: 4.5rem;
  --fz-8xl: 6rem;
  --fz-9xl: 8rem;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  border-color: hsl(var(--border));
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: hsl(228, 8%, 64%) hsl(228, 8%, 76%);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background-color: hsl(228, 8%, 76%);
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 64%);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}

body {
  font-family: var(--ff-poppins);
  font-size: var(--fz-base);
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--heading));
  font-weight: 600;
}
